.loginForm {
  width: 80%;

  .formItem {
    margin-bottom: 30px;
  }

  .links {
    text-align: center;
    .noAccountText {
      font-weight: 300;
    }
    .signUp {
      font-weight: 300;
      color: #1890ff;
      cursor: pointer;
    }
    .forgetPassword {
      font-weight: 300;
      cursor: pointer;
    }
  }
}
